<html data-namespace-typo3-fluid="true"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:xin="http://typo3.org/ns/Xima/XimaTypo3InternalNews/ViewHelpers">

<h2>{record.title}</h2>
<f:if condition="{record.top}">
    <span class="badge badge-danger internal-news--top">
        <f:translate key="top" extensionName="XimaTypo3InternalNews"/>
    </span>
</f:if>

<div class="internal-news--subheader">
    <small>{record.tstamp -> f:format.date(format: 'd.m.Y H:i')}</small>
    <f:if condition="{record.categories}">
        <div class="internal-news--categories">
            <f:for each="{record.categories}" as="category" iteration="i">
            <span class="badge badge-secondary">
                {category.title}
            </span>
            </f:for>
        </div>
    </f:if>
</div>

<f:if condition="{record.media}">
    <div class="internal-news--media-container">
        <div class="internal-news--media">
            <f:if condition="{record.media.originalResource.originalFile.properties.mime_type} == 'image/gif'">
                <f:then>
                    <img src="{record.media.originalResource.publicUrl}" alt="{record.title}" width="760px"/>
                </f:then>
                <f:else if="{record.media.originalResource.originalFile.properties.mime_type} == 'video/mp4' || {record.media.originalResource.originalFile.properties.mime_type} == 'video/webm' || {record.media.originalResource.originalFile.properties.mime_type} == 'video/ogg'">
                    <video controls width="760px">
                        <source src="{record.media.originalResource.publicUrl}" type="{record.media.originalResource.originalFile.properties.mime_type}">
                        Your browser does not support the video tag.
                    </video>
                </f:else>
                <f:else>
                    <f:image image="{record.media}" alt="{record.title}" width="760px"/>
                </f:else>
            </f:if>
        </div>
    </div>
</f:if>

<div class="internal-news--description">{record.description -> f:format.raw()}</div>
<f:variable name="nextDates" value="{xin:nextDates(news: record)}"/>
<f:if condition="{nextDates}">
    <div class="internal-news--next-dates">
        <h4>
            <f:translate key="nextDates" extensionName="XimaTypo3InternalNews"/>
        </h4>
        <f:for each="{nextDates}" as="nextDate" iteration="i">
            <f:if condition="{i.index} < {dateListCount}">
                <div class="internal-news--next-date">
                    <span class="badge">
                        {nextDate.date -> f:format.date(format: 'd.m.Y H:i')}
                    </span>
                    {nextDate.title}
                    <f:if condition="{i.cycle} == {dateListCount}">
                        <br/>&#8230;
                    </f:if>
                </div>
            </f:if>
        </f:for>
    </div>
</f:if>
