<html data-namespace-typo3-fluid="true"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers">

<h2>{record.title}</h2>
<span class="badge badge-danger internal-news--top">
    <f:translate key="top" extensionName="XimaTypo3InternalNews"/>
</span>

<div class="internal-news--subheader">
    <small>{record.tstamp -> f:format.date(format: 'd.m.Y H:i')}</small>
    <f:if condition="{record.categories}">
        <div class="internal-news--categories">
            <f:for each="{record.categories}" as="category" iteration="i">
            <span class="badge badge-secondary">
                {category.title}
            </span>
            </f:for>
        </div>
    </f:if>
</div>

<f:if condition="{record.image}">
    <div class="internal-news--image-container">
        <div class="internal-news--image">
            <f:image image="{record.image}" alt="{record.title}" width="760px"/>
        </div>
    </div>
</f:if>

<div class="internal-news--description">{record.description -> f:format.raw()}</div>
<f:if condition="{record.nextDates}">
    <div class="internal-news--next-dates">
        <h4>
            <f:translate key="nextDates" extensionName="XimaTypo3InternalNews"/>
        </h4>
        <ul>
            <f:for each="{record.nextDates}" as="nextDate" iteration="i">
                <f:if condition="{i.index} < {dateListCount}">
                    <li>
                    <span class="badge">
                        {nextDate.date -> f:format.date(format: 'd.m.Y H:i')}
                    </span>
                        {nextDate.title}
                    </li>
                    <f:if condition="{i.cycle} == {dateListCount}">
                        <li>&#8230;</li>
                    </f:if>
                </f:if>
            </f:for>
        </ul>
    </div>
</f:if>

