ul.internal-news--wrapper {
    list-style-type: none;
    margin: -20px;
    padding: 0;
}

.internal-news {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-top: 1px solid #d7d7d7;
}

.internal-news--header a:not([class]) {
    color: inherit;
}
.internal-news--header a:not([class]):hover {
    color: inherit;
    cursor: pointer;
}

.internal-news--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.internal-news .internal-news--image-preview{
    display: flex;
}

.internal-news--body {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.internal-news--description {
    flex-grow: 1;
}

small {
    color: #666;
    margin-bottom: 1em;
    display: block;
}

.internal-news--next-date {
    flex-grow: 1;
    align-items: center;
    gap: 0.5em;
}

.internal-news .internal-news--image img {
    width: 100%;
    height: auto;
}

.internal-news--toolbar li:nth-child(n+4) {
    display: none;
}

.internal-news--more {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.internal-news--more:hover {
    background-color: #eee;
}

.internal-news--footer {
    display: flex;
    justify-content: right;
    align-items: center;
}
