<html data-namespace-typo3-fluid="true">

<p class="h3 dropdown-headline">
    <span class="internal-news--icon-round">
        <core:icon identifier="internal-news-news-color" size="small" alternativeMarkupIdentifier="inline"/>
    </span>
    <f:translate key="toolbaritem.title" extensionName="XimaTypo3InternalNews"/>
</p>
<p class="dropdown-item-text">
    <f:translate key="toolbaritem.description" extensionName="XimaTypo3InternalNews"/>
</p>
<f:if condition="{data}">
    <f:then>
        <f:render partial="NewsList" arguments="{records: data, wrapperClass: 'dropdown-list internal-news--toolbar'}"/>
    </f:then>
    <f:else>
        <div class="internal-news--empty">
            <p>
                <f:translate key="empty" extensionName="XimaTypo3InternalNews"/>
            </p>
        </div>
    </f:else>
</f:if>
<div class="internal-news--dropdown-footer">
    <button type="button" class="btn btn-default btn-sm internal-news--show-all">
        <core:icon identifier="actions-list-alternative" size="small" alternativeMarkupIdentifier="inline"/>
        <f:translate key="toolbaritem.showAll" extensionName="XimaTypo3InternalNews"/>
    </button>
</div>
