<html data-namespace-typo3-fluid="true"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:xin="http://typo3.org/ns/Xima/XimaTypo3InternalNews/ViewHelpers">

<p class="h3 dropdown-headline">
    <span class="internal-news--icon-round">
        <core:icon identifier="internal-news-news-color" size="small" alternativeMarkupIdentifier="inline"/>
    </span>
    <f:translate key="toolbaritem.title" extensionName="XimaTypo3InternalNews"/>
</p>
<p class="dropdown-item-text">
    <f:format.raw>
        <f:translate key="toolbaritem.description" extensionName="XimaTypo3InternalNews"
                    arguments="{0: '{be:moduleLink(route:\'dashboard\')}'}"/>
    </f:format.raw>
</p>
<ul class="dropdown-list internal-news--toolbar">
    <f:if condition="{data}">
        <f:then>
            <f:for each="{data}" as="record">
                <f:render partial="Item" arguments="{record: record, top: '{xin:isTopAndNew(news: record)}'}"/>
            </f:for>
        </f:then>
        <f:else>
            <div class="internal-news--empty">
                <p>
                    <f:translate key="empty" extensionName="XimaTypo3InternalNews"/>
                </p>
            </div>
        </f:else>
    </f:if>
</ul>
