<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">

<f:be.pageRenderer
    includeJavaScriptModules="{
        0: '@xima/ximatypo3internalnews/toolbar.js',
        1: '@xima/ximatypo3internalnews/notification.js'
    }"
    includeCssFiles="{
        0: 'EXT:xima_typo3_internal_news/Resources/Public/Stylesheets/Backend.css'
    }"
    addJsInlineLabels="{
        'internal_news.hide': '{f:translate(key: \'button.hide\', extensionName: \'XimaTypo3InternalNews\')}',
        'internal_news.more': '{f:translate(key: \'button.more\', extensionName: \'XimaTypo3InternalNews\')}',
        'internal_news.title': '{f:translate(key: \'widget.title\', extensionName: \'XimaTypo3InternalNews\')}',
        'internal_news.close': '{f:translate(key: \'button.close\', extensionName: \'XimaTypo3InternalNews\')}'
    }"
/>

<span class="toolbar-item-icon" title="Internal News">
    <core:icon identifier="internal-news-news" size="small" alternativeMarkupIdentifier="inline"/>
</span>
<span class="toolbar-item-title">
    <f:translate key="toolbaritem.title" extensionName="XimaTypo3InternalNews"/>
</span>
<f:if condition="{count}">
    <span class="toolbar-item-badge badge badge-secondary" id="internal-news--counter">{count}</span>
</f:if>
